@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800&display=swap');


/* * {
    margin: 0;
    padding: 0;
} */

#container {
    /* background-image: "./certificates.svg"; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* position:absolute; */
    z-index: -999;
}

div {
    display: flex;
    justify-items: center;
    align-items: center;
}

h1 {

    font-family: 'League Spartan', sans-serif;
    font-size: 400%;
    color: #2e71e6;

}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 250%;
    font-weight: 700;
    color: #424b9b;

}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 150%;
    color: #02263b;
    opacity: 90%;
}

h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 170%;
    color: #8f8f8f;
    opacity: 90%;
}

.signature h4 {
    color: #02263b;
    font-size: 200%;
}

.paperc {
    color: #02263b;

}

#logo {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50rem;

    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#title {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;

    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#title h1 {
    font-size: 600%;
    color: #424b9b;
}

#subtitle {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#givento {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#name {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#info {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#infographics {
    position: absolute;
    flex-wrap: wrap;
    /* max-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 32rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#line {
    background-color: #02263b;
    position: absolute;
    flex-wrap: wrap;
    /* min-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10/rem; */
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;

    /* background-color: #02/263b; */
    position: absolute;
    width: 10%;
    height: 2.5px;
    opacity: 80%;
    
    margin-top: 30rem;
  
    /* left: 0; */

    text-align: center;
    flex-wrap: nowrap;
}

#infographics img {
    width: 80%;
    height: 80%;
    margin-left: 500%;
    margin-right: 500%;
}

#accuracy {
    /* margin-left: 5rem; */
}

/* #timetaken img{
    width: 16.5rem;
    height: 16.5rem;
} */

#subtext {
    position: absolute;
    flex-wrap: nowrap;


    margin-top: 42rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#accuracytext {
    /* margin-right:1rem; */
    /* margin-left: 5rem; */
}

#medals {
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
    border-width: 1px 1px 0px 0px;
}

#timing {
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    /* margin-right: 30rem; */
    /* margin-left: 11%; */
}

#subtextinfo {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
   
    flex: 1;
    margin-top: 57rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#accuracyinfo {
    /* margin-right: 2rem; */
    /* font-size: :2rem; */
    /* margin-left: 5rem; */
}

#medalsinfo {
    /* margin-left: rem; */
    margin-right: 5rem;
}

#timinginfo {

    /* margin-left: 12rem; */
}

@media only screen and (max-width: 400px) {
    #container {
        height: auto; /* Adjust as needed */
    }

    #logo{
        margin-top: -160%;
        /* right: -50%; */
        margin-left: auto;
        margin-right: auto;
    }
    #title,
    #subtitle,
    #givento,
    #name,
    #info,
    #infographics,
    #line,
    #subtext,
    #subtextinfo {
        margin-top: 5%;
    }

    #title h1 {
        font-size: 400%;
    }

    #subtitle h2 {
        font-size: 200%;
    }

    #givento h3 {
        font-size: 120%;
    }

    #name h1 {
        font-size: 150%;
    }

    #info h4 {
        font-size: 140%;
    }

    .signature h4 {
        font-size: 160%;
    }

    .paperc {
        font-size: 140%;
    }

    #infographics {
        margin-top: 20%;
    }

    #line {
        margin-top: 20%;
    }

    #infographics img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    #medalsinfo {
        margin-left: 0;
        margin-right: 0;
    }
}
