@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;800&display=swap');


/* * {
    margin: 0;
    padding: 0;
} */

/* body {
    background-image: "./certificates.svg";
    width: 100%;
    height: 100%;
    /* background-size: cover; */
/* position: relative; */
/* } */

#background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* position:absolute; */
    z-index: -999;
}

div {
    display: flex;
    justify-items: center;
    align-items: center;
}

h1 {

    font-family: 'League Spartan', sans-serif;
    font-size: 4rem;
    color: #2e71e6;

}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #424b9b;

}

h3 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #02263b;
    opacity: 90%;
}

h4 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    color: #8f8f8f;
    opacity: 90%;
}

.signature h4 {
    color: #02263b;
}

.paperc {
    color: #02263b;
}

#logo {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50rem;

    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#title {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;

    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#title h1 {
    font-size: 6rem;
    color: #424b9b;
}

#subtitle {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#givento {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#name {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#info {
    position: absolute;
    flex-wrap: wrap;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
}

#infographics {
    position: absolute;
    flex-wrap: wrap;
    /* max-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 38rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#line {
    background-color: #02263b;
    position: absolute;
    flex-wrap: wrap;
    /* min-width: 700px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10/rem; */
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;

    /* background-color: #02/263b; */
    position: absolute;
    width: 10%;
    height: 2.5px;
    opacity: 80%;
    
    margin-top: 33rem;
  
    /* left: 0; */

    text-align: center;
    flex-wrap: nowrap;
}

#infographics img {
    width: 12rem;
    height: 12rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#accuracy {
    /* margin-left: 5rem; */
}

/* #timetaken img{
    width: 16.5rem;
    height: 16.5rem;
} */

#subtext {
    position: absolute;
    flex-wrap: nowrap;


    margin-top: 44rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#accuracytext {
    /* margin-right:1rem; */
    /* margin-left: 5rem; */
}

#medals {
    margin-left: auto;
    margin-right: auto;
    border: 1px black;
    border-width: 1px 1px 0px 0px;
}

#timing {
    /* margin-left: auto; */
    /* margin-right: 5rem; */
    /* margin-right: 30rem; */
    margin-left: 11rem;
}

#subtextinfo {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
   
    flex: 1;
    margin-top: 57rem;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    text-align: center;
    flex-wrap: nowrap;
}

#accuracyinfo {
    /* margin-right: 2rem; */
    /* font-size: :2rem; */
    /* margin-left: 5rem; */
}

#medalsinfo {
    /* margin-left: rem; */
    margin-right: 4rem;
}

#timinginfo {

    margin-left: 11rem;
}